# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Examen01.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Gustavo Blanco\RiderProjects\Examen01\.idea\.idea.Examen01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
